body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    background-color: rgb(58, 131, 215);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px;
}

.display {
    width: 100%;
    padding: auto;
    border: none;
    background-color: rgb(207, 203, 203);
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 50px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.btn {
    padding: 20px;
    background-color: #cac8c8;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3 ease, transform 0.1s ease;
}

.btn:active{
    transform: scale(0.95);
}

.btn-operador {
    background-color: #0b3996;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3 ease, transform 0.1s ease;
}

.btn-operador:active{
    transform: scale(0.95);
}

.btn:hover {
    background-color: #aaa3a3;
}

.btn-operador:hover {
    background-color: #00d25e;
}